td{
    text-align: center;
}
th{
    text-align: center;
}
.search-book {
    max-width: auto;
    padding-bottom: 25px;
    margin:auto;
}

.form-control::placeholder  {
    font-family: fontAwesome;
}