td{
    text-align: center;
}
th{
    text-align: center;
}
.search-book {
    max-width: auto;
    padding-bottom: 25px;
    margin:auto;
}

.form-control::placeholder  {
    font-family: fontAwesome;
}

.my-pagination{
    float: right;
}

.my-pagination /deep/ .ngx-pagination :hover{
    background: #16a085;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #16a085;
  }